:root {
    // COLOR VARIABLES
    --bg-color: #fff;
    --menu-bg-desktop: #f2f2f2;
    --header-bg: #056f8fc0;
    
    //FONT VARIABLES
    --font-primary: "Lato", sans-serif;
    --font-display: "Open Sans", sans-serif;
    --font-secondary: "Montserrat", sans-serif;
    --font-logo: "Allura", cursive;
    
    //BREAK POINT VARIABLES
    --bp-mobile: 375px;
    --bp-desktop: 1440px;
  }
  
  