*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   box-sizing: border-box;
   font-size: 62.5%;
   font-family: var(--font-secondary);
}
body {
   width: 100%;
   height: 100vh;
}

* {
   // transition: color ease 0.3s, background-color ease 0.3s;
}
.u-mb-small {
   margin-bottom: 1.6rem;
}
.u-mb-medium {
   margin-bottom: 3rem;
}
.u-mb-large {
   margin-bottom: 5rem;
}

.main_container {
   display: grid;
   grid-template-columns: repeat(12, minmax(min-content, 1fr));
   grid-template-rows: repeat(2, min-content) min-content 70vh min-content;
   font-size: 2rem;

   //   CODE FOR HEADER ***********************************************
   &--header {
      background-color: royalblue;
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 2rem;
   }
   .header {
      &--nav_left {
         display: flex;
         flex-direction: row;
      }
      &--nav-h4 {
         color: white;
         font-size: 2rem;
         padding-right: 2rem;
         font-weight: lighter;
      }
      &--nav-icon {
         font-size: 3rem;
         color: white;
         padding-right: 1rem;
      }
   }
   .header-btn {
      background-color: #295faf;
      color: white;
      border: none;
      outline: none;
      padding: 1rem 2rem;
      margin-right: 1rem;
      cursor: pointer;
      border-radius: 0.6rem;
   }
   //   CODE FOR TOOLBAR ***********************************************
   &--toolbar {
      background-color: white;
      grid-row: 2 / 3;
      grid-column: 2 / -1;
      // width: 100%;
   }
   //   CODE FOR SIDEBAR ***********************************************
   &--sidebar {
      background-color: #343131;
      grid-row: 2 / 7;
      grid-column: 1 / 2;

      // width: 9rem;
   }
   .sidebar-menu {
      &-container {
         display: flex;
         flex-direction: column;
      }
      &-item {
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
         align-items: center;
         cursor: pointer;
         margin-bottom: 2rem;
         transition: all 0.1s;
         &:first-child {
            margin-top: 1.5rem;
         }
         &-active {
            // background-color: #4b4849;
            background-color: #181617;
            width: 80%;
            margin: auto;
            margin-bottom: 2rem;
            padding: 0.5rem;
            border-radius: 0.5rem;
            position: relative;
            // margin-top: 2rem;
            &::before {
               position: absolute;
               content: "";
               border-top: 15px solid transparent;
               border-left: 20px solid #181617;
               border-bottom: 15px solid transparent;
               z-index: 30;
               right: 0;
               top: 50%;
               transform: translate(50%, -50%);
            }
         }
      }
      &-icon {
         margin: 0;
         font-size: 3rem;
         color: white;
         &:hover {
            color: orange;
         }
      }
      &-text {
         color: white;
         font-size: 1.2rem;
      }
   }
   .sidebar-menu-side {
      position: absolute;
      top: -0px;
      left: 0;
      background-color: white;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      // width: 20rem;
      height: 40vh;
      overflow: auto;
      border-radius: 0.7rem;
      z-index: 10;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      padding: 1rem;
      margin-bottom: 1rem;

      &-grid {
         background-color: #dfdbdb;
         border-radius: 0.7rem;
         object-fit: cover;
         padding: 1.2rem;
         cursor: pointer;
         &-icon {
            width: 3rem;
            height: 3rem;
            // display: flex;
            // align-items: center;
            // justify-content: center;
         }
         //   height: 8rem;
         //   width: 8rem;
      }
      &-grid-image {
         width: 8rem;
         height: 8rem;
         object-fit: cover;
         cursor: pointer;
      }

      &-template {
         position: absolute;
         top: -0px;
         left: 0;
         background-color: white;
         box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
         // width: 20rem;
         // height: 40rem;
         border-radius: 0.7rem;
         z-index: 10;
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         grid-gap: 1rem;
         padding: 1rem;
         &-grid {
            background-color: #c5c3c3;
            border-radius: 0.7rem;
            // object-fit: cover;
            // padding: 1.2rem;
            cursor: pointer;
            // width: 16rem;

            // height: 12rem;
         }
         &-grid-image {
            width: 16rem;
            // padding: 0.4rem;
            // height: 10rem;
            object-fit: cover;
            // background-color: rgb(44, 44, 44);
            border-radius: 0.7rem;
         }
      }
   }
   .sidebar-menu-side-tools {
      position: absolute;
      top: -0px;
      left: 0;
      background-color: white;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      // width: 20rem;
      // height: 50vh;
      overflow: auto;
      border-radius: 0.7rem;
      z-index: 10;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      padding: 1rem;
      margin-bottom: 1rem;
   }
   //   CODE FOR MAIN ***********************************************
   &--main {
      position: relative;
      background-color: #c2c2c2;
      grid-row: 3 / -1;
      grid-column: 2 / -1;
      display: flex;
      justify-content: center;
      align-items: baseline;
      padding: 1rem;
      height: 72vh;
      overflow: auto;
   }

   #canvas {
      background-image: url("/images/canvas-bg.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin-top: 1rem;
   }
   #canvas2 {
      background-image: url("/images/colors-back/short-white-back.png");
      background-repeat: no-repeat;
      background-size: cover;
   }
   //   CODE FOR FOOTER ***********************************************
   &--toolbar_footer {
      background-color: rgb(255, 255, 255);
      grid-row: 6 / 7;
      grid-column: 2 / -1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      padding: 1.5rem;
      & span {
         cursor: pointer;
         margin: 0rem 2rem;
         font-size: 2.8rem;
      }
   }
}

// CODE FOR OTHER STYLES LIKE BUTTON ETC
.icon-icon {
   width: 6rem;
   height: 8rem;
   margin-left: 1rem;
}
.toolbar-styles {
   border: none;
   outline: none;
   width: 4rem;
   height: 4rem;
   opacity: 1;
   border-radius: 10rem;
   margin-left: 1rem;
   //   display: none;
}

.shirt-colors {
   margin: 0.8rem 0.5rem;
   border: none;
   outline: none;
   width: 3rem;
   height: 3rem;
   border-radius: 50%;
   cursor: pointer;
   //   margin-left: 2rem;
   //   padding-left: 1rem;
   &-black {
      background-color: #141412;
   }
   &-white {
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.479);
   }
   &-blueBlack {
      background-color: #03011d;
   }
   &-pink {
      background-color: #f40554;
   }
   &-orange {
      background-color: #ffa303;
   }
}

.picker {
   display: inline-block;
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(3, 1, 1, 0.08);
}
/* width */
::-webkit-scrollbar {
   width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
   background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #888;
   border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #555;
}

//STYLES FOR TEXT CONTROLS
.icon-container {
   display: flex;
   flex-direction: row;
   padding: 1.5rem;
   align-items: center;
   position: relative;
}
.icons {
   cursor: pointer;
   background-color: #f1f1f1;
   margin-right: 0.8rem;
   padding: 0.9rem;
   border-radius: 6px;
   // width: 2rem;
   font-size: 1.3rem;
   text-align: center;
   &-active {
      background-color: #03011d;
      color: white;
   }
   &-addColor {
      height: 3rem;
      width: 3rem;
      background: linear-gradient(
         124deg,
         #ff2400,
         #e81d1d,
         #e8b71d,
         #e3e81d,
         #1de840,
         #1ddde8,
         #2b1de8,
         #dd00f3,
         #dd00f3
      );
      animation: rainbow 7s ease infinite;
      background-size: 1800% 1800%; /* Standard syntax (must be last) */
   }
   &-font-size {
      border-top-left-radius: 0rem;
      border-bottom-left-radius: 0rem;
      // font-size: 1.5rem;
   }
   &-line-height {
      border-top-left-radius: 0rem;
      border-bottom-left-radius: 0rem;
      // font-size: 1.5rem;
   }
}
.fontFamily-btn {
   background-color: #f1f1f1;
   border: none;
   outline: none;
   width: 10rem;
   padding: 0.7rem 0.8rem;
   border-radius: 8px;
   margin-right: 1rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-size: 1.4rem;
   cursor: pointer;
   //   text-align: right;
   //   padding-right: 2rem;
}

.controls-btns {
   display: flex;
   flex-direction: row;
   align-items: center;
}
.controls-btn {
   background-color: #f1f1f1;
   font-size: 1.8rem;
   border: none;
   outline: none;
   // border-radius: 8px;
   padding: 0.6rem 1rem;
   cursor: pointer;
}
.controls-input {
   // outline: none;
   outline: 1px solid rgba(0, 0, 0, 0.158);

   border: none;
   font-size: 1.5rem;
   border-radius: 3px;
   // border: 1px rgba(0, 0, 0, 0.247);
   padding: 0.6rem 0.7rem;
   width: 5rem;
}

//********************************
.color-container {
   // width: 30rem;
   // height: 30rem;
   padding: 1rem;
   border-radius: 1rem;
   background-color: white;
   top: 14rem;
   left: 10.4rem;
   z-index: 40;
   position: absolute;
}
.stroke-container {
   margin-top: 0.5rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.stroke-text {
   font-size: 1.4rem;
}
.stroke-mt {
   margin-top: 1rem;
}
hr {
   margin-top: 1rem;
}

//************************************

.upload-btn {
   background-color: rgb(34, 32, 32);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 6px;
   width: 10rem;
   height: 11rem;
}
.upload-icon {
   color: white;
   cursor: pointer;
   font-size: 4rem;
}
#file-input {
   display: none;
}
@keyframes rainbow {
   0% {
      background-position: 0% 82%;
   }
   50% {
      background-position: 100% 19%;
   }
   100% {
      background-position: 0% 82%;
   }
}
